services:
  web:
    build: .
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn notifier.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
      - ./data:/app/data
    ports:
      - "25100:8000"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  celery:
    build: .
    command: >
      sh -c "
      until nc -z redis 6379; do echo 'waiting for redis'; sleep 0.5; done &&
      celery -A notifier worker -l info
      "
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy

  celery-beat:
    build: .
    command: >
      sh -c "
      until nc -z redis 6379; do echo 'waiting for redis'; sleep 0.5; done &&
      celery -A notifier beat -l info
      "
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
